//Include Temporary directory
params.tempdir = "/exports/sascstudent/kaelias/scripts/wf-rnaseq-fusion/TEMP_DIR"
params.cachedir = "/exports/sascstudent/kaelias/Containers_v2/singularity_containers"
params.basedir = "/exports/sascstudent/kaelias/scripts/wf-rnaseq_vipushan_27_05"

//Enable singularity
singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${params.cachedir}"
}

//Create envieronment for temp directory
env {
    TMPDIR = "${params.tempdir}"
}

//Define process executor
process.executor = 'slurm'

//Define base directory
cleanup = 'eager'
baseDir = "${params.basedir}"


//config file tasks
includeConfig 'config/tasks.config'
includeConfig 'config/parameters.config'
includeConfig 'config/input_config/igenomes.config'

