process {
    //Get Jaffal directory configurations
    withName: GET_JAFFAL_REF {
        publishDir = [
            path: { "${params.outdir}/jaffal/${meta.id}" },
            mode: 'copy',
            enabled: false,
          //  saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        queue = 'all'
       

        memory = 60.GB

        time = 24.h

        cpus = 4

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        //ext.prefix = 'duplicate_indentified'

        //ext.args = '--COMPRESSION_LEVEL 1 --USE_JDK_INFLATER false --USE_JDK_DEFLATER true --CREATE_INDEX true --CLEAR_DT false --CREATE_MD5_FILE false --ADD_PG_TAG_TO_READS false --VALIDATION_STRINGENCY SILENT --OPTICAL_DUPLICATE_PIXEL_DISTANCE 2500'

    }
    //JAFFAL configurations
    withName: JAFFAL {
        publishDir = [
        path: { "${params.outdir}/jaffal_removed_mc/${meta.id}" },
        mode: 'copy',
        enabled: true,
        //saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        queue = 'all'
       
        memory = 400.GB

        time = 48.h

        cpus = 8

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3
    }
}
