//This is the parameters config file. This file contains all the parameters that will be used within the workflow itself.
params {
    //Output directory, reference genome base directory and the link of the test database
    outdir = "/exports/sascstudent/kaelias/results/With_report_Longreads_analysis_samples/"
    genomes_base = "/exports/sascstudent/kaelias/Genomes"
    test_data_base = "https://raw.githubusercontent.com/nf-core/test-datasets/modules"
    
    //Files mandatory
    sampleConfigFile = "samples_sheets/Longread_analysis_samples.yml" //relative path
    genome = ''

    //Optional files
    dbsnpVCF = "../common_all_20180418.vcf.gz"
    dbsnpVCFIndex = "../common_all_20180418.vcf.gz.tbi"
    cpatLogitModel = []
    cpatHex = []
    lncRNAdatabases = []
    variantCallingRegions = null
    xNonParRegions = null
    yNonParRegions = null
    
    //Variables mandatory
    strandedness = "no"

    //Variables optional
    variantCalling = false
    dgeFiles = true
    adapterForward = "AGATCGGAAGAG"
    adapterReverse = "AGATCGGAAGAG"
    contaminations = []

    //Star variables
    starIndex = null
    get_output_stats = true
    umiDeduplication = false
    seq_center = []
    seq_platform = 'illumina'
    star_ignore_sjdbgtf = false

    //Hisat variables
    hisat2 = null

    //Variantcal preprocess
    splitSplicedReads = true

    //Scatter size default is 0. Used if there is only a single scatter. If there is 2 or more scatters, set scatter_size to 2
    scatter_size = 2

    //Collect rna seq metrics
    rrna_intervals = []

    //Variantcalling single strandedness
    gender = "unknown"
    mergeVcf = true
    gvcf = false

    //Expression quantification
    runStringtieQuantification = false
    lncRNAdetection = false

    //RNA-Bloom2 assembly 
    runRNABLoom2 = true
    
    //R environment
    r_env = "/exports/sascstudent/kaelias/miniconda3/envs/new_r_env/bin/Rscript"
    
    //Arriba fusion detection
    arriba = false

    //LongGF fusion
    longgf = true

    //Jaffa ref directory
    jaffal_ref_dir = '/exports/sascstudent/kaelias/scripts/test_scripts/JAFFA-version-2.3'

    //Singularity image CTAT-LR Fusion
    sing_ctat = '/exports/sascstudent/kaelias/scripts/test_scripts/CTAT-LR-fusion.v0.13.0/ctat_lr_fusion.v0.13.0.simg'

    //Genome lib for CTAT-LR Fusion
    genome_lib = '/exports/sascstudent/kaelias/GRCh38_gencode_v44_CTAT_lib_Oct292023.plug-n-play/ctat_genome_lib_build_dir'

    //Parameter to run stringtie and star
    star = false
    stringtie = false
}
