process {
  //RNA-Bloom2 assembly configurations
    withName: RNABLOOM2_ASSEMBLY {
        queue = 'all'
         
        memory = 300.GB 

        time = 72.h
           
        cpus = 10

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 2
        publishDir = [path:{"${params.outdir}/rnabloom2_assembly/${meta.sample}/${meta.id}"},mode: 'copy']

        ext.args = "-fpr 0.005 -k 25-55:5 -t 10 -rcr"

    }
}
