process {
    withName: RNABLOOM2_ASSEMBLY {
        queue = 'all'
        
        //{ reads.toList().size() > 1 ?
         //           ((reads.target.sum{it.size()} * (task.attempt * 0.1 + 0.9) /2500 + 60000) < 3600000 ? 'short' : 'all') :
           //         ((reads.target.size() * (task.attempt * 0.1 + 0.9) /2500 + 60000) < 3600000 ? 'short' : 'all')}

        memory = 300.GB 

        time = 72.h
        
        //{reads.toList().size() > 1 ?
          //          1.ms * (reads.target.sum{it.size()} * (task.attempt * 0.1 + 0.9) /2500 + 60000) :
            //        24.h * (reads.target.size() * (task.attempt * 0.1 + 0.9) /2500 + 60000)}
        
        cpus = 10

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 2
        publishDir = [path:{"${params.outdir}/rnabloom2_assembly/${meta.sample}/${meta.id}"},mode: 'copy']

        ext.args = "-fpr 0.005 -k 25-55:5 -t 10 -rcr"

    }
}
