process {
    withName: SEQTK_SEQ {
       // publishDir = [path:{"${params.outdir}/seqtk_seq_results/${meta.id}"}, mode: 'copy']
        queue = 'short'
       
        memory = 10.GB

        time = 1.h

        cpus = 1

        errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
        maxRetries = 3

        ext.args = '-F "#"' 
        process.fair = true
    }
}
